.body{
    margin: 30px;
}
.header{
    display: inline;
    justify-content: space-between;
    position: relative;
}
.nombrePagina{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.centroAbajo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.centroAbajo p{
    margin-left: 10px;
    font-weight: bold;
}
.gris{
    color: grey;
}
.navIzquierda{
    text-align: left;
    position: absolute;
    top: 0;

}
.navIzquierda li{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 25px;
}
.genero{
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.mujer::after{
    content: "   ";
    border-left: 1px solid grey;
    margin: 5px;
}
.hombre{
    color: grey;
}
.seccionMujer a{
    text-decoration: none;
    color: black;
}
.negrita{
    font-weight: bold;
}
.promociones a{
    color: red;
}
.navDerecha{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: right;
}
.navDerechaArriba{
    display: inline;
}
.navDerechaArriba input{
    border: 0px;
    border-bottom: 2px solid black;
}
.navDerechaAbajo{
    text-transform: uppercase;
    color: grey;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 30px;
}
.navDerechaAbajo span{
    margin-right: 7px;
}
.azul{
    color: blue;
}
.main{
    margin-bottom: 50px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section article{
    width: 20%;
    margin: 10px;
}
.article img{
    width: 100%;
}
.nombre{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.precio{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.newsletter{
    text-align: center;
    margin-top: 100px;
    border-bottom: 3px solid black;
}
.newsletter p{
    text-transform: uppercase;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.botonEmail{
    margin-top: 15px;
    border: 0;
    margin-bottom: 20px;
}
.botonEmail::placeholder{
    text-align: center;
    color: black;
}
.contacto{
    text-align: center;
    margin-top: 20px;
}
.contactoTitle{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contacto div{
    margin-top: 10px;
}
.contacto p{
    margin-top: 10px;
}
.after::after{
    content: "   ";
    border-left: 1px solid grey;
    margin: 5px;
}
.navs{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.navs h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.navs li{
    margin-top: 9px;
}
.pie{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}